<ul class="nav">
  <li *ngFor="let site of sites" class="nav-item nav-dropdown" [ngClass]="{'open':site.id===0}" appNavDropdown>
    <div class="d-md-flex flex-row align-items-center">
      <div class="img-ml">
        <!-- Icon -->
        <img *ngIf="site.status == 0 ||
        site.status == 3 ||
        site.status == 5 ||
        site.status == 7 ||
        site.status == 8 ||
        site.status == 10" src="../../../assets/img/StatusIcon/11x11_Alarm.png"><img>
        <img *ngIf="site.status == 2 ||
        site.status == 9 ||
        site.status == 11" src="../../../assets/img/StatusIcon/11x11_Warning.png"><img>
        <img *ngIf="site.status == 4" src="../../../assets/img/StatusIcon/11x11_Disabled.png"><img>
      </div>

      <!-- Description -->
      <a *ngIf="site.children !== undefined && site.children.length > 0 " (click)="chooseSite(site)" class="nav-link nav-dropdown-toggle ml-5" appNavDropdownToggle>{{site.description}}</a>
      <a *ngIf="site.children === undefined || site.children.length === 0" (click)="chooseSite(site)" class="nav-link nav-dropdown-toggle-noContent">{{site.description}}</a>
    </div>
    <site-tree-view *ngIf="site.children !== null || site.children !== undefined" [sites]="site.children"></site-tree-view>
  </li>
</ul>