<!-- <nav class="sidebar-nav"> -->
<div class="card">
    <div class="container">
        <div class="row justify-content-start my-3 pl-2">
            <div class="align-items-center d-sm-flex d-md-flex flex-row">
                <a>Filter:</a>
                <filter-type [templateList]="filterTypes" [value]="filterType" class="ml-5 mr-5" (valueChanged)="onFilterTypeChange($event)"></filter-type>
            </div>
        </div>
        <div class="row justify-content-start my-3 pl-1">
            <div class="align-items-center d-sm-flex d-md-flex flex-row">
                <a>Search:</a>
                <input type="text" class="form-control ml-2" (keyup.enter)="onEnter()" placeholder="Site name" [(ngModel)]="siteName">
            </div>
        </div>
        <div class="myNetwork">
            <div class="row">
                <div class="row justify-content-start my-5 pl-2">
                    <site-tree-view [sites]="sites$ | async"></site-tree-view>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </nav> -->