.card
{
    background: transparent;
    border:1px solid #c2cfd6;
    .form-control
    {
        width:9.45rem;
    }
}

.myNetwork
{
    height: 81vh;
    margin-left:-14px;
    margin-right:-16px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #c2cfd6;
}

.sidebar-minimizer
{
    position: relative;
    flex: 0 0 3rem;
    &::before{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        content: "\2039";
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12.5px;
        transition: .3s;
    }
}