// core overrides
$sidebar-nav-dropdown-bg:          transparent;
$navbar-brand-logo:                 url('../assets/img/home.ico');
$navbar-brand-width:                5rem !default;
$navbar-brand-logo-size:            2.8rem auto !default;
$footer-height: 1rem;

$sidebar-nav-link-hover-bg:          transparent !default;
// $sidebar-nav-link-active-color : red !default;
// $sidebar-nav-link-active-bg: yellow !default;

// Boostrap overriden
$breadcrumb-padding-y:          .2rem !default;
$breadcrumb-padding-x:          .5rem !default;
$breadcrumb-item-padding:       .35rem !default;
$spacer: 0.2rem !default;
$card-spacer-y:            .25rem !default;
$card-spacer-x:            $spacer !default;

$input-btn-padding-y:       .25rem !default;
$input-btn-padding-x:       .75rem !default;
$sidebar-nav-link-padding-y: 0.3rem;
$sidebar-nav-link-padding-x:1rem;
$input-height:    calc(1.2rem);