.sidebar-fixed {
    .sidebar {
      height: calc(100vh - #{$navbar-height} - #{$footer-height} - 0.5rem);
      // height:calc(88vh);
      .sidebar-nav {
          height: calc(100vh - #{$navbar-height} - #{$footer-height} - 20px);
            }
      }
}

body{
  font-size: $font-size-base;
}