<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
  <div style="width:20px">
  </div>
  <msm-menu></msm-menu>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img src="assets/img/avatars/admin.jpg" class="img-avatar">
        <span class="d-md-down-none">Welcome admin</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
    <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>
        &#9776;
    </button>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <tree-view></tree-view>
    <div style="height:10px"></div>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
        </div>
      </li>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
      <rolling-alarm></rolling-alarm>
    </div>
  </main>
  <msm-aside></msm-aside>
</div>

<!-- Footer -->
<msm-footer></msm-footer>