<form [formGroup]="siteForm">
  <div class="d-flex flex-column">
    <div class="msm-content">
      <table class="table table-striped table-bordered table-hover table-responsive table-sm">
        <thead class="thead-default">
          <tr>
            <th></th>
            <th>ID</th>
            <th>Site/Group Name</th>
            <th>Priority</th>
            <th>Address</th>
            <th>Controller Type</th>
            <th>Latitude</th>
            <th>Longtitude</th>
            <th>Group</th>
            <th>Template</th>
            <th>SNMP template</th>
            <th>SNMP data setup</th>
            <th>Enable HTTPS</th>
            <th>Site's username</th>
            <th>Site's password</th>
            <th>Camera</th>
          </tr>
        </thead>
        <tbody formArrayName="siteSource">
          <tr *ngFor="let site of siteSource.controls; let i=index" [formGroupName]="i" (click)="onRowClick(i)">
            <td><i class="fa fa-caret-right p-3"></i></td>
            <td>{{site.get('id').value}}</td>
            <td><input type="text" class="form-control" formControlName="description"></td>
            <td>
              <msm-priority [templateList]="prioritySource" [name]="'sitePriority'" [id]="site.get('id').value" [value]="site.get('sitePriority').value"
                (valueChanged)="onValueChanged($event)"></msm-priority>
            </td>
            <td><input type="text" class="form-control" formControlName="address"></td>
            <td>
              <msm-controller-type [templateList]="controllerSource" [name]="'controllerType'" [id]="site.get('id').value" [value]="site.get('controllerType').value"
                (valueChanged)="onValueChanged($event)"></msm-controller-type>
            </td>
            <td><input type="text" class="form-control" formControlName="latitude"></td>
            <td><input type="text" class="form-control" formControlName="longitude"></td>
            <td>
              <msm-sitegroup [templateList]="parentSites" [name]="'parentId'" [id]="site.get('id').value" [value]="site.get('parentId').value"
                (valueChanged)="onValueChanged($event)"></msm-sitegroup>
            </td>
            <td>
              <msm-site-template [templateList]="templateSource" [name]="'templateId'" [id]="site.get('id').value" [value]="site.get('templateId').value"
                (valueChanged)="onValueChanged($event)"></msm-site-template>
            </td>
            <td>
              <msm-snmp-template [templateList]="snmpConfigSource" [name]="'snmpTemplateId'" [id]="site.get('id').value" [value]="site.get('snmpTemplateId').value"
                (valueChanged)="onValueChanged($event)"></msm-snmp-template>
            </td>
            <td>
              <msm-snmp-data-template [templateList]="snmpDataConfigSource" [name]="'snmpDataTemplateId'" [id]="site.get('id').value" [value]="site.get('snmpDataTemplateId').value"
                (valueChanged)="onValueChanged($event)"></msm-snmp-data-template>
            </td>
            <td><input type="checkbox" class="form-control" formControlName="ssl"></td>
            <td><input type="text" class="form-control" formControlName="jsonUserName"></td>
            <td><input type="password" class="form-control" formControlName="jsonPassword"></td>
            <td>
              <button class="btn"><i class="fa fa-camera"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header d-flex flex-row">
      <button class="btn  btn-pill mr-4" (click)="onAddNewSite()"><i class="fa fa-plus"></i> Add Site</button>
      <button class="btn  btn-pill mr-4" (click)="onDeleteSite()"><i class="fa fa-minus"> Delete Site</i></button>
      <button class="btn  btn-pill mr-4" (click)="onAddNewGroup()"><i class="fa fa-sitemap"> Add Group</i></button>
      <!-- <button class="btn  btn-pill mr-4"><i class="fa fa-file-excel-o"></i> Export To Excel</button> -->
      <button class="btn  btn-pill mr-4" [disabled]="siteForm.pristine" (click)="onSaveChanges()"><i class="fa fa-save"></i> Save Changes</button>
      <button class="btn  btn-pill" [disabled]="siteForm.pristine" (click)="onRejectChanges()"><i class="fa fa-undo"></i> Reject Changes</button>
      <msm-paginator class="ml-auto" [pageSizeOptions]="[10,20,30,40]" [pageLength]="paging.pageLength" [(pageIndex)]="paging.pageIndex"
        (currentPageChange)="onCurrentPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"></msm-paginator>
    </div>
  </div>
</form>