<div class="d-flex flex-column">
  <div class="msm-list">
      <table class="table table-striped table-bordered table-hover table-responsive table-sm">
          <thead class="thead-default">
              <tr>
                  <th>ID</th>
                  <th>Site/Group Name</th>
                  <th>Priority</th>
                  <th>Address</th>
                  <th>Controller Type</th>
                  <th>Latitude</th>
                  <th>Longtitude</th>
                  <th>Group</th>
                  <th>Template</th>
                  <th>SNMP template</th>
                  <th>SNMP data setup</th>
                  <th>Enable HTTPS</th>
                  <th>Site's username</th>
                  <th>Site's password</th>
                  <th>Camera</th>
              </tr>
          </thead>
          <!-- <tbody>
              <tr *ngFor="let siteView of siteListViews">
                  <td>{{siteView.siteName}}</td>
                  <td>{{siteView.ipAddress}}</td>
                  <td>{{siteView.controllerType}}</td>
                  <td>{{siteView.noAlarm}}</td>
                  <td>{{siteView.noWarning}}</td>
                  <td>{{siteView.noOffline}}</td>
                  <td>{{siteView.mainPhase1}}</td>
                  <td>{{siteView.batteryVoltage}}</td>
                  <td>{{siteView.rectifierCurrent}}</td>
                  <td>{{siteView.loadCurrent}}</td>
                  <td>{{siteView.batteryTemperature}}</td>
                  <td>{{siteView.solarCurrent}}</td>
                  <td>{{siteView.lastPooling}}</td>
              </tr>
          </tbody> -->
      </table>
  </div>
<!-- 
  <msm-paginator class="card-header" [pageSizeOptions]="[10,20,30,40]" [pageLength]="paging.pageLength" [(pageIndex)]="paging.pageIndex"
      (currentPageChange)="onCurrentPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"></msm-paginator> -->
</div>