<div class="animated fadeIn" [ngSwitch]="menuChoice">
  <!--Put the map view  or the list view over here-->

  <div class="card" *ngSwitchCase="'list-view'">
    <div class="card-header">
      <a (click)="chooseMode('')" title="Switch to the map view">
            <i class="icon-location-pin"> List View</i>
      </a>
    </div>
    <div class="card-body">
      <list-view></list-view>
    </div>
  </div>
  <div class="card" *ngSwitchDefault>
    <div class="card-header">
      <a (click)="chooseMode('list-view')" title="Switch to the list view">
            <i class="icon-list"> Map View</i>
      </a>
    </div>
    <div class="card-body">
      <map-view></map-view>
    </div>
  </div>
</div>