body.relative{
    position: relative;
    .spinner
    {
          width: 100%;
          height: 100%;
          position: absolute;
          top:0%;
          background-color: rgba(128, 128, 128, 0.66);
          z-index: 10000;
    }
  
    div.relative
    {
        position: relative;
    }
    
    .main .container-fluid {
      padding: 0 1.5 * $spacer;
    
      .main-height
      {
        height: 51.2vh; //42
        position: relative;
        .msm-map
        {
          height: 46.5vh; //35
        }
  
        .msm-list
        {
          height: 42.5vh;
          overflow: auto;
        }
  
        .msm-content
        {
          height: 45.5vh;
          overflow: auto;
        }
  
        .msm-content-no-paging
        {
          height: 52.8vh; // 42
          margin-right:0px;
          overflow: auto;
        }
      }

      .card{
        color:$white;
      }

      // .card-header  {
      //       margin-left:-0.2rem;
      // }
    }
}