body.relative{
    position: relative;
    .spinner
    {
          width: 100%;
          height: 100%;
          position: absolute;
          top:0%;
          background-color: rgba(128, 128, 128, 0.66);
          z-index: 10000;
    }
  
    div.relative
    {
        position: relative;
    }
    
    .main .container-fluid {
      padding: 0 1.5 * $spacer;
    
      .rolling-alarm
      {
        display: block;
        &.hidden
        {
          display:none;
        }
      }

      .main-height
      {
        height: 51.2vh; //42
        position: relative;
        &.full-screen
        {
          height: 82vh;
          .msm-map
          {
            height: 78.5vh; //35
          }

          .msm-list
          {
            height: 74.5vh;
          }
    
          .msm-content
          {
            height: 77.5vh;
          }
    
          .msm-content-no-paging
          {
            height: 74.8vh; // 42
          }
        }

        &.active
        {
          .msm-map
          {
            height: 46.5vh; //35
          }
    
          .msm-list
          {
            height: 42.5vh;
            overflow: auto;
          }
    
          .msm-content
          {
            height: 45.5vh;
            overflow: auto;
          }
    
          .msm-content-no-paging
          {
            height: 52.8vh; // 42
            margin-right:0px;
            overflow: auto;
          }
        }
      }
    }
}