.msm-content
{
    input
    {
        padding:0.1rem;
    }

    table
    {
        td
        {
            padding:0.1rem;
        }
    }

    .table-active {
        tbody tr {
          :active, .active {
            background-color: #20a8d8;
          }
        }
    }

    .tr-active
    {
        cursor: pointer;
        &.active,
        &:active
        {
            background-color: #82D0ED;
        }
    }
}