@keyframes loginHidden
{
    from{
        transform: rotateY(0deg);
        opacity: 1;
        z-index:2;
    }
    to{
        transform: rotateY(150deg);
        opacity: 0;
        z-index:1;
    }
}

@keyframes changePwDisplay {
    from {
        opacity: 0;
        z-index:1;
    }
    to {
        opacity: 1;
        z-index:2;
    }
}

.card
{
    background-color:white;
    position: absolute;
    top:30%;
    // button
    // {
    //     width: 4rem;
    // }
    &.hidden
    {
        animation: loginHidden 1s ease-in-out both;
    }     
    &.open
    { 
        animation: changePwDisplay 2.5s ease-in-out both;
    }

    h1{
        color:black;
    }
}

.card-pw
{
    position: absolute;
    display: none;
    button
    {
        width: 4rem;
    }
    &.open
    { 
        display:block;
        animation: changePwDisplay 2.5s ease-in-out both;
    }
    &.hidden
    {
        animation: loginHidden 1s ease-in-out both;
        display: block;
    }
}


.form-control
{
    border: 1px solid #c2cfd6;
    background-clip: padding-box;
}