<form [formGroup]="siteForm">
  <div class="card mb-0">
    <div class="card-header row mx-0">
      <h6>
        <strong>Accessible site/group configuration</strong>
      </h6>
      <button type="button" class="close ml-auto" aria-label="Close" (click)="onCloseDialog()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="card container">
        <div class="card-body row">
          <div class="col-6 card" formArrayName="restrictedList">
            <div class="row">
              <input type="button" class="form-control" value="Restricted group name">
            </div>
            <div *ngFor="let item of restrictedListSource.controls; let i=index" [formGroupName]="i" class="row">
              <input type="text" [ngClass]="{'active':item.value.isActive}" class="px-0 col-12 sitegroup form-control" (click)="onSelectGroup(item, i)"
                formControlName="itemName">
            </div>
          </div>
          <div class="col-6 card sidebar">
            <restricted-site-tree-view [sites]="siteSource.value" (valueChanged)="onValueChanged($event)"></restricted-site-tree-view>
          </div>
        </div>
        <div class="row p-3 my-3 justify-content-start">
          <button class="btn btn-pill mr-4" (click)="onAddNewGroupConfig()">
            <i class="fa fa-plus"></i> Add Group</button>
          <button class="btn btn-pill " (click)="onDeleteGroupConfig()">
            <i class="fa fa-minus"></i> Remove Group</button>
        </div>
      </div>
    </div>
    <div class="row p-3 mx-0 my-3 justify-content-start">
      <button class="btn btn-pill mr-4" [disabled]="siteForm.pristine" (click)="onSaveChanges()">
        <i class="fa fa-save"></i> Submit changes</button>
      <button class="btn btn-pill mr-4" [disabled]="siteForm.pristine" (click)="onRejectChanges()">
        <i class="fa fa-close"> Reject changes</i>
      </button>
    </div>
  </div>
</form>