.sitegroup
{
    overflow-y: auto;
    cursor: pointer;
    margin-top: 0.05rem;
    margin-bottom: 0.05rem;
    &:hover{
        background-color: rgb(201, 231, 241);
    }

    &.active,
    &:active
    {
        background-color: #82D0ED;
    }
}

.sidebar
{
    position: relative;
    overflow:auto;
    max-height: 20rem;
}