<div class="card mb-0">
  <div class="card-header row mx-0">
    <h6><strong>Define new password</strong></h6>
    <button type="button" class="close ml-auto" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <div class="card container">
      <div class="card-body">
        <div class="row">
          <p class="col-4">New password</p>
          <input type="password" class="form-control col-8" [(ngModel)]="currentUser.password">
        </div>
        <div class="row">
          <p class="col-4">Confirm new password</p>
          <input type="password" class="form-control col-8" [(ngModel)]="currentUser.confirmPassword">
        </div>
        <div class="row">
          <p class="col-4">Username</p>
          <input type="text" class="form-control col-8" [(ngModel)]="currentUser.userName" readonly>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-3 mx-0 my-3 justify-content-end">
    <button class="btn btn-pill mr-4" (click)="onChangePassword()"><i class="fa fa-save"></i> OK</button>
    <button class="btn btn-pill mr-4" (click)="onClick(false)"><i class="fa fa-close"> Cancel</i></button>
  </div>
</div>